---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav';
import Presentation from '../components/Presentation'
import Experience from '../components/Experience'
import Scholarship from '../components/Scholarship'
import Contact from '../components/Contact'
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav />
		<Presentation />
		<Experience />
		<Scholarship />
		<Contact />
	</main>
</Layout>