---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav';
import Presentation from '../components/Presentation'
import Experience from '../components/Experience'
import Scholarship from '../components/Scholarship'
import Contact from '../components/Contact'
---

<Layout title="My portfolio.">
	<main class="snap-y snap-mandatory overflow-y-scroll h-screen scroll-smooth overflow-hidden">
		<Nav />
		<Presentation />
		<Experience client:visible />
		<Scholarship />
		<Contact />
	</main>
</Layout>
