---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Discover my portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-[#00091d]">
		<div class="top-0 z-[-2] w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px] text-white">
			<slot />
		</div>
	</body>

</html>
	
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	.dark {
		@apply bg-[#151515];
	}

	/* STYLES FOR SECTION */
	.color-span {
		color: white;
	}

	/* KEYFRAMES */

	@keyframes reveal {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes colorGradient {
		0% {
    background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

</style>
