---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Discover my portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="top-0 z-[-2] w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px] text-white">
			<slot />
		</div>
	</body>

</html>
	
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	.dark {
		@apply bg-[#151515];
	}

	/* STYLES FOR BUTTON */

	.button-view {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}

	.button-view.learn-more {
		width: 12rem;
		height: auto;
	}

	.button-view.learn-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #282936;
		border-radius: 1.625rem;
	}

	.button-view.learn-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}

	.button-view.learn-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}

	.button-view.learn-more .circle .icon.arrow::before {
		position: absolute;
		content: "";
		top: -0.29rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	.button-view.learn-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: #fff;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}

	.button-view:hover .circle {
		width: 100%;
	}

	.button-view:hover .circle .icon.arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}

	.button-view:hover .button-text {
		color: #fff;
		margin-left: 40px;
	}

	/* STYLES FOR SECTION */

	.section-title {
		min-height: 100vh;

		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	.section-view {
		min-height: 100vh;
	}

	.color-span {
		color: white;
	}

	.card-animation {
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	/* KEYFRAMES */

	@keyframes reveal {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes colorGradient {
		0% {
    background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

</style>
